<!--====== HEADER PART START ======-->
<header class="header-area">
    <app-navigation></app-navigation>
    <div id="home" class="header-hero bg_cover d-lg-flex align-items-center" style="background-image: url(assets/images/header-hero.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="header-hero-content">
                        <h1 class="hero-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">{{header.heading}}</h1>
                        <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">{{header.headingtext}}</p>
                        <div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                            <input type="text" placeholder="Subscribe to our Newsletter">
                            <a href="{{header.buttonlink}}"><button class="main-btn">{{header.buttontext}}</button></a>
                        </div>
                    </div> <!-- header hero content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="header-hero-image d-flex align-items-center wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="1.1s">
            <div class="image">
                <img src="assets/images/penaidd.png" alt="Hero Image">
            </div>
        </div> <!-- header hero image -->
    </div> <!-- header hero -->
</header>
<app-footer></app-footer>

<!--====== HEADER PART ENDS ======-->